.banner {
    background-image: url("gojo.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    x: 0;
    y: 0;

}